
nav {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

li {
    font-size: large;
    background-color: blueviolet;
    background-size: cover;
}

section {
    margin: auto;
    padding: 20px;
}

.pre-quiz {
    margin: auto;
    width: 50%;
    text-align: center;
    font-size: x-large;
}

button {
    font-size: xx-large;
}

.questions {
    display: none;
} 